.login_container {
  display: flex;
  justify-content: center;
}
.box {
  background: aliceblue;
  width: 258px;

  padding: 20px 70px;

  border-radius: 20px;
  border: 1px solid cornflowerblue;
}
.user,
.pass {
  padding-bottom: 10px;
}
.forgot {
  padding-bottom: 15px;
}
#button {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
